body, html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #111 url('hero.png') no-repeat fixed center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.highlight {
  background: #333;
  color: #EEE;
}

.wrapper-cv {
  width: 100%;
  height: 100%;
  overflow: auto;
  font-family: Montserrat;
}

.wrapper-cv #hero {
  font-family: 'Monaco', 'Menlo', courier, monospace;
  height: 100%;
  width: 100%;
  margin-bottom: 0;
  z-index: 0;
}

.wrapper-cv #details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.wrapper-cv #name {
  text-align: center;
  color: #EEE;
  pointer-events: auto;
}

.wrapper-cv #blinky {
  font-weight: bold;
  position: relative;
  left: 0;
  pointer-events: auto;
}

#links {
  background: rgba(16,16,16,0.7);
  border: 1px solid rgba(239,239,239,0.3);
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  color: #DDD;
  pointer-events: auto;
}

.wrapper-cv a {
  text-decoration: none;
  color: #E55B3C !important;
}

.wrapper-cv a:hover {
  text-decoration: none;
  color: #F62217 !important;
}

.wrapper-cv #hidetext {
  position: absolute;
  top: 5px;
  right: 25px;
  opacity: 0.1;
  color: #EEE;
  z-index: 0;
}

.wrapper-cv #categories {
  min-height: 100%;
  z-index: 2;
  background: #EEE;
  position: relative;
  font-size: 1.5em;
}

.jumbotron {
  background: none;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
  border: none;
}

.navbar-form {
  padding: 0;
  margin-right: 20px;
}

.navbar-inverse {
  background: #EEE;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
  background: #FFF;
  color: #333 !important;
}

#lblSearch {
  border-right: 1px solid #ccc;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 34px;
}

#txbSearch {
  display: none;
  width: 0;
}

#btnMore1, #btnMore2 {
  background-color: #E07C65;
  color: #EEE;
  font-size: 1em;
  position: absolute;
  transform: translateX(-50%);
}

#btnMore1:hover, #btnMore2:hover {
  background-color: #E55B3C;
}

#learnmore1, #learnmore2 {
  padding: 2% 0 0 0;
}

.progress {
  height: 30px;
  border-radius: 0;
}

.progress-bar {
  background-color: #E07C65;
  font-size: 1em;
  text-align: start;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding-left: 5px;
}

.technologies ul li {
  list-style-type: none;
}

.panel-title {
  font-size: 1em;
}

.panel-title span {
  float: right;
}

.panel-body {
  background: #F5F5F5;
  text-align: justify;
}

.list-group-item span {
  float: right;
}
