* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	width: 100%;
	color: #EEE;
	font-family: Montserrat;
	background-color: #111;
  position: relative;
  overflow: hidden;
}

code {
  margin-left: 3px;
}

.windowcontainer {

}

.window {
  border: 2px solid gray;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

.titlebar {
  border-bottom: 2px solid gray;
  position: relative;
  height: 20px;
  flex: 0 1 auto;
}

.titlebtn {
  border-radius: 100%;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 5px;
}

.titlereduce {
  background-color: chocolate;
  right: 35px;
}

.titlefullscreen {
  background-color: lightgreen;
  right: 20px;
}

.titleclose {
  background: red;
  right: 5px;
}

.windowcontent {
  background-color: #EEE;
  flex: 1 1 auto;
}
