* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	width: 100%;
	color: #EEE;
	font-family: Monospace;
	background-color: #111;
  position: relative;
  overflow: hidden;
}

code {
  margin-left: 3px;
}

.windowcontainer {
	position: absolute !important;
}

.window {
  border: 2px solid gray;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

.titlebar {
  border-bottom: 2px solid gray;
  position: relative;
  height: 20px;
  flex: 0 1 auto;
	color: #EEE;
	background-color: #111;
	padding-left: 3px;
}

.defaultcontent {
	width: 100%;
	height: 100%;
	background: #EEE;
	color: #111;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.titlebtn {
  border-radius: 100%;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 5px;
}

.titlereduce {
  background: linear-gradient(45deg, #FAE22D, #D69327);
  right: 35px;
}

.titlefullscreen {
  background: linear-gradient(45deg, #5EF74A, #227517);
  right: 20px;
}

.titleclose {
  background: linear-gradient(45deg, #F54545, #962424);
  right: 5px;
}

.windowhead {
	display: none;
}

.windowcontent {
  flex: 1 1 auto;
	overflow: hidden;
}

.code {
	width:100%;
	height:100%;
	background-color: #000;
	border: none;
	border-radius: 0;
}

pre .close {
	all: initial;
	font-size: 14px;
	color: #8DA6CE;

	:hover, :focus {
		all: initial;
		font-size: 14px;
		color: #8DA6CE;
	}
}
